/* ********* FTF MAIN CSS **********************
                                              
/* *********************************************
/* ** There is no knowledge that is not power **
/* *********************************************
*
* Purpul Color:  #442781
* Orange Color:  #EF8222
* Black Color:  #3B3735
* White Color:  #FEF8FC
* border: 1px solid rgb(224, 224, 224);
*************************************************
*/





body{
    padding: 0px;
    margin: 0px;
    font-size: 1rem;
    font-weight: 400;
    color: #555;
    text-align: left;
    background-color:#fff;
    text-decoration: none;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
}
h1, h2, h3, h4, h5, h6, p, li, a{
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
    margin: 0px;
}
.flex{
    display: flex;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
*{
    text-decoration: none;
}
ul, ol {
  margin-bottom: 0;
  list-style: none;
  padding: 0px;
}
a {
    color: #333;
    text-decoration: none;
    background-color: transparent;
}
section{
    padding: 0px;
}
button:focus{
    outline: none;
    border: none;
    box-shadow: none;
}
/* ******** BUTTON ************* */
a.btn-small{
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
    padding: 5px 20px;
    background-color: #442781;
}
/* ********* MAIN APP PRELOADER *********** */
.main-app-preloader{
    height: 100vh;
    width: 100%;
    z-index: 20;
    position: fixed;
    display: table;
    /* display: none; */
    text-align: center;
    background-color: #432781c5;
}
.main-app-preloader .preloader-inner{
    display: table-cell;
    vertical-align: middle;
}
.inner-preloader-box{
    width: 150px;
    height: 80px;
    margin: 0 auto;
    border-radius: 4px;
    background-color:  #fff;
}
.rotating-preloader{
    top: 25px;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    position: relative;
    border-radius: 50%;
    border: 3px solid#442781;
    border-right: 3px solid transparent;
    -webkit-animation: main-spin 0.3s linear infinite; 
    animation: main-spin 0.3s linear infinite;
}
@keyframes main-spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

/* ******** NAVIGATION SECTION ************ */
.navigation-section{
    color: #fff;
}
.navigation{
    display: flex;
    width: 100%;
    height: 80px;
    padding: 20px;
    align-items: center;
    background-color: #442781;
    justify-content: space-between;
}
.navigation-links ul li{
   display: inline-block;
}
.navigation-links ul li a{
    color: #fff;
    padding: 20px;
    font-size: 14px;
    text-decoration: none;
    transition: all 0.4s ease;
    border-bottom: 3px solid transparent;
}
.navigation-links ul li a:hover{
    border-radius: 3px;
    background-color: #4c3283;
    border-bottom: 3px solid #fff;
}
.nav-search{
    padding: 10px 10px;
    border-radius: 20px;
    background-color: #320a88;
    border: 1px solid #5420c4;
}
.nav-search button{
    color: #fff;
    border: 0px;
    background-color: transparent;
}
.nav-search input.search{
    color: rgb(233, 233, 233);
    border: 0px;
    width: 400px;
    font-size: 13px;
    background-color: transparent;
}
.nav-search input.search::placeholder{
    color: rgb(233, 233, 233);
}
.nav-search input.search:focus{
    border: none;
    outline: none;
    box-shadow: 0px;
}
.navigation-small{
    display: flex;
    justify-content: space-between;
}
.navigation-small, .navigation-small-mobile{
    padding: 10px;
    border: 1px solid rgb(200, 200, 200);
    background-color: rgb(224, 224, 224);
}
.navigation-small ul li{
    display: inline-block;
}
.navigation-small ul li a{
    color: #555;
    font-size: 12px;
    padding: 10px;
    position: relative;
    text-decoration: none;
}
.navigation-small ul li a:hover{
    color: #fff;
    border-radius: 5px;
    background-color: rgb(128, 128, 128);
}
.nav-logo img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.navi-icon {
    display: none;
}
.navi-icon a{
    color: #fff;
    font-size: 20px;
}
ul.ul-small-i li{
    padding: 0px 10px;
}
ul.ul-small-i li a{
    font-size: 18px;
    position: relative;
}
ul.ul-small-i li a:hover{
    color: #555;
    background-color: transparent;
}
ul.ul-small-i li a span.badge{
    top: 0px;
    right: 2px;
    color: #fff;
    font-size: 10px;
    position: absolute;
}
.navigation-small-mobile{
    display: none;
    padding: 10px 20px;
    background-color: #fff;
}
.navigation-small-mobile ul{
    display: flex;
    justify-content: space-between;
}
.navigation-small-mobile ul li a{
    color: #555;
    font-size: 19px;
    position: relative;
}
.navigation-small-mobile ul li a span.badge{
    top: -5px;
    right: -9px;
    color: #fff;
    font-size: 10px;
    position: absolute;
}

.mobile-search{
    top: 0px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.452);
}
.input-mobile-search{
    width: 80%;
    padding: 10px;
    border: none;
}
.mobile-search-btn{
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 12px 20px;
    border-radius: 0px 5px 5px 0px;
    background-color: #442781;
}
.mobile-search-btn:focus, .input-mobile-search:focus{
    border: none;
    outline: none;
    box-shadow: 0px;
}
@media only screen and (max-width: 1125px){
    .nav-search input.search{
        width: 300px;
    }
}
@media only screen and (max-width: 992px){
    .navigation-links{
        display: none;
    }
    .navi-icon {
        display: inline-block;
    }
    .nav-search input.search{
        width: 350px;
    }
}
@media only screen and (max-width: 767px){
    .nav-search{
        display: none;
    }
    .navigation-small{
        display: none;
    }
    .navigation-small-mobile{
        display: block;
    }
}

/* ********** MODAL ALERT *********** */
.modal-alert-popup{
    display: none;
}
.modal-confirm-container{
    top: 0px;
    width: 100%;
    z-index: 30;
    height: 100vh;
    position: fixed;
    display: table;
    text-align: center; 
}
.modal-confirm-dark-theme{
    width: 100%;
    height: 100vh;
    padding: 0px 10px;
    display: table-cell;
    vertical-align: middle;
    background-color: rgba(0, 0, 0, 0.623);
}
.modal-inner-content{
    width: 550px;
    margin: 0 auto;
    border-radius: 4px;
    background-color: #fff;
}
.confirm-header{
    padding: 10px 0px;
}
.confirm-header h4{
    font-size: 20px;
    margin: 0px;
    color:  #555;
}
.confirm-header p{
    font-size: 14px;
    margin: 0px;
}
button.confirm-box-close{
    border: none;
    cursor: pointer;
    background-color: transparent;
}
button.confirm-box-close i{
    color: #555;
}
button.confirm-btn{
    border: none;
    cursor: pointer;
    width: 80%;
    color: #fff;
    padding: 10px 0px;
    border-radius: 4px;
    margin-bottom: 20px;
    transition:  background-color 0.2s ease;
    background-color:  #fff;
}
button.confirm-btn:hover{
    background-color:  #555;
}
@media only screen and (max-width: 767px){
    .modal-inner-content{
        width: 90%;
    }
}
@media only screen and (max-width: 567px){
    .modal-inner-content{
        width: 100%;
    }
    .confirm-header p{
        font-size: 13px;
        padding: 0px 10px;
    }
}

/* ********* DROP DOWN *********** */
.drop-down{
    z-index: 10;
    position: relative;
}
ul.ul-drop-down{
    top: 40px;
    right: 0px;
    z-index: 20;
    width: 200px;
    margin: 0px;
    display: none;
    text-align: left;
    position: absolute;
    padding: 10px 0px;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0px 0px 8px 0px rgba(107, 107, 107, 0.582);
}
ul.ul-drop-down.drop-right{
    right: 0px;
}
ul.ul-drop-down.drop-left{
    left: 0px;
}
ul.ul-drop-down li{
    display: block;
    margin: 0px;
}
ul.ul-drop-down li.drop-li a{
    color: #555;
    display: block;
    padding: 7px 5px;
    font-size: 13px;
    border-radius: 0px;
    text-decoration: none;
    transition: all 0.2s ease;
}
ul.ul-drop-down li.drop-li a:hover{
    color:  #555;
    background-color: #442781;
    background-color: rgb(206, 206, 206);
}
/* ************ MOBILE SIDE NAVIGATION ************* */
.side-navigation-container{
    top: 0px;
    height: 0px;
    width: 100%;
    z-index: 20;
    position: absolute;
}
.side-dark-theme{
    width: 100%;
    height: 100vh;
    z-index: 20;
    position: fixed;
    display: none;
    background-color: rgba(0, 0, 0, 0.589);
}
.side-nav-content{
    color: #fff;
    z-index: 20;
    width: 300px;
    left: -500px;
    height: 100vh;
    position: fixed;
    transition: left 0.2s ease;
    background-color: #fff;
}
.side-nav-content.right{
    color: #fff;
    z-index: 20;
    width: 250px;
    left: auto;
    right: -500px;
    height: 100vh;
    position: fixed;
    transition: right 0.2s ease;
    background-color: #fff;
}
.side-nav-btn-container{
    padding: 10px;
    display: flex;
    width: 100%;
    height: 80px;
    align-items: center;
    background-color: #442781;
    justify-content: space-between;
}
.side-nav-content button{
    border: none;
    color: #fff;
    background-color:  transparent;
}
.sm-nav-logo img{
    width: 50px;
    border-radius: 50%;
}
.side-nav-content button:focus{
    border: none;
    outline: none;
}
ul.ul-side-nav{
    padding: 30px 0px;
}
ul.ul-side-nav li {
    padding: 10px 0px;
}
ul.ul-side-nav li a{
    color: #555;
    font-size: 13px;
    font-weight: 300;
    padding-left: 15px;
    text-decoration: none;
}
@media only screen and (max-width: 567px){
    .side-nav-content, .side-nav-content.right{
        width: 80%;
    }
}
/* ********** SLIDER ********** */
.banner-style-one .slide:before,
.banner-style-two .slide:before{
  background-color: rgba(0, 0, 0, 0.349);
}
.banner-style-one .slide{
    height: 600px;
}
@media only screen and (max-width: 1125px){
    .banner-style-one p{
        top: -40px;
    }
}
@media only screen and (max-width: 767px){
    .banner-style-one .slide{
        height: 100%;
    }
}

/* ******* PAGE CONTENT ********* */
.page-content-container{
    padding: 20px;
}
.page-content-container .title-header{
    padding: 20px 0px;
    background-color: transparent;
    justify-content: space-between;
}
.page-content-container.arsh{
    background-color: rgb(248, 248, 248);
}
.page-content-container.orange{
    background-color: #EF8222;
}
.page-content-container.purple{
    background-color: #442781;
}
.page-content-container.orange .inner-content:hover{
    transform: scale(1.01);
}
.content-body{
    padding: 20px 0px;
}
.inner-content{
    height: 300px;
    border-radius: 5px;
    margin-bottom: 40px;
    background-color: #fff;
    box-shadow: 0px 0px 8px 0px rgba(107, 107, 107, 0.582);
}
.page-content-container.orange .inner-content{
    margin-bottom: 0px;
}
.page-content-container .banner-title{
    color: #fff;
}
.page-content-container .banner-btn{
    top: 40px;
    position: relative;
}
.page-content-container .banner-btn a{
    font-size: 14px;
    font-weight: 600;
    color:  #EF8222;
    padding: 13px 40px;
    border-radius: 5px;
    background-color: #fff;
}
@media only screen and (max-width: 1125px){
    .banner-title{
        height: 230px;
    }
    .banner-title p{
        width: 50%;
        font-weight: 600;
    }
    .page-content-container .banner-btn{
        top: 15px;
        position: relative;
    }
    .page-content-container.orange .inner-content{
        margin-bottom: 40px;
    }
}
@media only screen and (max-width: 992px){
    .banner-title p{
        width: 80%;
    }
}
@media only screen and (max-width: 567px){
    .banner-title{
        height: 100%;
        margin-bottom: 40px;
    }
    .banner-title p{
        width: 100%;
    }
    .page-content-container .banner-btn{
        position: static;
    }
}
.inner-content .item-img{
    width: 100%;
    height: 150px;
    overflow: hidden;
}
.inner-content .item-body{
    padding: 20px;
    background-color: #fff;
}
.inner-content .item-img img{
    width: 100%;
    border-radius: 5px 5px 0px 0px;
}
ul.ul-items{
    display: flex;
}
ul.ul-items li.item-star{
    width: 40%;
}
ul.ul-items li.item-btn{
    width: 60%;
    text-align: right;
}
.item-body .item-head{
    margin-bottom: 10px;
}
.item-body .item-head h4{
    font-size: 14px;
    font-weight: 600;
    color: rgb(49, 49, 49);
}
.item-body .item-head p{
    margin: 0px;
    font-size: 13px;
    color: rgb(136, 136, 136);
}
ul.ul-items li.item-star i{
    font-size: 14px;
}
ul.ul-items li.item-btn a{
    padding: 10px;
    border-radius: 2px;
}
ul.ul-items li.item-btn  a.btn-view{
    top: -1px;
    font-size: 15px;
    cursor: pointer;
    position: relative;
    border: 1px solid rgb(168, 168, 168);
}
ul.ul-items li.item-btn  a.btn-view:hover{
    color: #fff;
    background-color: rgb(168, 168, 168);
}
ul.ul-items li.item-btn  a.btn-heart{
    font-size: 19px;
    padding: 8px 12px;
    color: rgb(168, 168, 168);
    border: 1px solid rgb(168, 168, 168);
}
ul.ul-items li.item-btn  a.btn-cart{
    font-size: 19px;
    padding: 8px 12px;
    color: rgb(99, 190, 99);
    border: 1px solid rgb(99, 190, 99);
}
ul.ul-items li.item-btn  a.btn-cart:hover{
    color: #fff;
   background-color:rgb(99, 190, 99);
}
@media only screen and (max-width: 650px){
    .content-body .col-sm-6{
        min-width: 100%;
    }
}
@media only screen and (max-width: 398px){
    .inner-content .item-body{
        padding: 20px 10px;
    }
    ul.ul-items li.item-btn  a.btn-view{
        font-size: 12px;
    }
    ul.ul-items li.item-btn  a.btn-cart{
        padding-top: 7px;
    }
}
/* ********* PAGE SEARCH ***************** */
.page-search-container{
    margin-bottom: 50px;
    box-shadow: 0px 3px 5px 0px rgba(175, 175, 175, 0.582);
}
.page-search-container .title-header{
    padding: 20px;
    font-size: 13px;
}
.page-search-container .title-header a{
    font-size: 13px;
}
.page-search-content{
    padding: 0px 20px;
}
.page-search-item{
    display: flex;
}
.page-search-item input{
    width: 90%;
    padding: 13px;
    color: #555;
    border: 2px solid rgb(168, 168, 168);
}
.page-search-item input:focus{
    outline: none;
    box-shadow: none;
}
.page-search-item button{
    top: 0px;
    right: 5px;
    color: #fff;
    border: none;
    font-size: 20px;
    padding: 12px 20px;
    position: relative;
    background-color: #442781;
    border-radius: 0px 5px 5px 0px;
}
.page-search-item h3{
    font-size: 27px;
}
.page-search-item{
    margin-bottom: 20px;
}
@media only screen and (max-width: 992px){
    .page-search-item{
        text-align: center;
    }
    .page-search-item p{
        text-align: left;
    }
}
@media only screen and (max-width: 567px){
    .page-search-item h3{
        font-size: 23px;
    }
}
@media only screen and (max-width: 567px){
    .page-search-item h3{
        font-size: 23px;
    }
    .page-search-item p{
        font-size: 13px;
    }
}
/* ********* CATEGORY PAGE *********** */
.category-bar-container{
    margin-bottom: 50px;
    border-top: 1px solid rgb(216, 216, 216);
    /* background-color: rgb(250, 250, 250); */
}
.category-bar-container .title-header{
    padding: 20px;
}
.category-bar-container .title-header h4{
    color: #555;
}
.category-bar-content{
    padding: 0px 20px;
}
ul.ul-category-links li.li-category-links{
    display: inline-block;
}

ul.ul-category-links li a{
    display: block;
    margin: 0px 5px;
    font-size: 14px;
    border-radius: 10px;
    padding: 10px 30px;
    margin-bottom: 20px;
    transition: all 0.2s ease;
    background-color: rgb(226, 226, 226);
}
ul.ul-category-links li a:hover{
    color: #fff;
    background-color: rgb(129, 129, 129);
}
ul.ul-category-links ul.ul-drop-down{
    top: 50px;
    /* width: 300px; */
}
ul.ul-category-links ul.ul-drop-down li{
    display: block;
}
ul.ul-category-links ul.ul-drop-down li a{
    margin: 0px;
    padding: 10px;
    background-color: #fff;
}
@media only screen and (max-width: 567px){
    ul.ul-category-links li a{
        font-size: 12px;
        padding: 10px;
    }
}
/* ****** NEWSLETTER SUBSCRIPTION ******** */
.newsletter-container input{
    width: 100%;
    border: none;
    padding: 10px;
}
.newsletter-container input:focus, .newsletter-container button{
   border: none;
   outline: none;
   box-shadow: 0px;
}
.newsletter-container input::placeholder{
    color: #333;
}
.newsletter-container button{
    border: none;
    padding: 13px;
    color: #fff;
    margin: 10px 0px;
    cursor: pointer;
    font-weight: 600;
    font-size: 13px;
    background-color: rgb(99, 190, 99);
}
.newsletter-container button i{
    font-size: 16px;
}
@media only screen and (max-width: 1125px){
    .newsletter-container{
        text-align: center;
    }
    .newsletter-container input{
        width: 450px;
    }
}
@media only screen and (max-width: 767px){
    .newsletter-container input{
        width: 350px;
    }
}
@media only screen and (max-width: 567px){
    .newsletter-container input{
        width: 100%;
    }
    .newsletter-container{
        text-align: left;
    }
}

/* ********* FOOTER ******** */
.footer_bottom_area{
    color: #fff;
    background-color: black;
}
/* ******** FOOTER LINKS ********** */
.footer-container{
    width: 80%;
    margin: 0 auto;
    padding-top: 30px;
}
.footer-links-container{
    color: #fff;
    padding: 20px;
    background-color: rgb(12, 12, 12);
}
.footer-links-container .inner-footer h3{
    color: #EF8222;
    font-size: 19px;
    margin-bottom: 20px;
}
.footer-links-container .inner-footer ul li{
    font-size: 13px;
    padding: 5px 0px;
}
.footer-links-container .inner-footer ul li a{
    color: #fff;
}
.inner-footer ul li a i{
    color: #EF8222;
    font-size: 18px;
    margin-right: 10px;
}
.footer-logo{
    border-top: 1px solid rgb(97, 97, 97);
    background-color: rgb(12, 12, 12);
}
.footer-logo-content{
    width: 60%;
    display: flex;
    margin: 0 auto;
    color: #fff;
    padding: 20px;
    justify-content: space-between;
}
.footer-logo-content a{
    color: #fff;
}
.inner-social-media a{
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 3px;
    background-color: #EF8222;
}
@media only screen and (max-width: 992px){
    .footer-container{
        width: 95%;
    }
}
@media only screen and (max-width: 767px){
    .footer-links-container .inner-footer{
        margin-bottom: 40px;
    }
    .footer-logo-content{
        width: 80%;
    }
}
@media only screen and (max-width: 567px){
    .footer-logo-content{
        width: 100%;
    }
}
@media only screen and (max-width: 398px){
    .footer-links-container .inner-footer h3{
        font-size: 16px;
    }
    .inner-social-media a{
        font-size: 18px;
    }
}

















